*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    background-image: url(./bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 40px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn{
    margin-top: 25px;
    padding: 17px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}

.btn:hover{
    filter: brightness(0.8);
}

.active.container{
    filter: blur(5px) brightness(.7);
}

.popupContainer{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 450px;
    height: 250px;
    top: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

h4{
    font-size: 30px;
    margin: 10px 0;
    font-family: sans-serif;
    color: blueviolet;
}

label{
    color: blueviolet;
    font-family: sans-serif;
}

.popup-btn{
    background-color: orangered;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid rgb(96, 95, 95);
}

.input{
    border: 2px solid lightgray;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
}

.input::placeholder{
    color: lightgray;
}

.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.close-icon:hover{
    color: orangered;
}

.active.popupContainer{
    visibility: hidden;
}